:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #f0f2f5;
  --margin-right: 30px;
  --padding-right: 10px;
  --margin-top: 5%;
  --border-radius: 20px;
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  gap: 2%;
}

.card {
  background: #ebecf0;
  border-radius: 8px;
  width: 300px;
  min-height: 100px;
  padding: 10px;
  flex-shrink: 0;
}

input {
  padding: 8px;
  border: 2px solid #dfe1e6;
  border-radius: 4px;
  font-size: 14px;
}

.add-button,
.add-task-button {
  padding: 8px 16px;
  background: #0079bf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.added-input {
  margin-right: var(--margin-right);
  margin-top: var(--margin-top);
}

.adding-task {
  height: 110px;
  background-color: white;
  color: black;
  border-color: #455570;
  margin-right: var(--margin-right);
  margin-top: var(--margin-top);
  border-radius: var(--border-radius);
}

.btn-container {
  margin-top: 10%;
}

.normal-btn {
  background: none;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  color: #455570;
}

.task {
  height: 50px;
  text-align: left;
  margin-left: 5%;
  font-size: 20px;
  background-color: white;
}

.input-text {
  background: white;
  border: none;
  border-radius: 8px;
  color: #172b4d;
  cursor: pointer;
  padding: 10px;
  width: 270px;
  text-align: left;
  height: fit-content;
}
